[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyGithub = "*"
requests = "*"
python-dotenv = "*"
langchain = "*"
langchain-anthropic = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
