name: Feedback for LLM-generated README updates

# Developer note: When triggered by a comment, Github Actions will run the workflow on main, not the PR branch

on:
  issue_comment:

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Check that it's a bot PR
        if: ${{!startsWith(github.event.issue.title, '[Bot] README')}}
        run: echo "The comment isn't on a readme-bot PR, exiting." && exit 0

      # This checks out main so that we can use GH CLI in the next step
      - uses: actions/checkout@v4

      - name: Find PR nums and branches
        shell: bash
        id: prs
        env:
          # for gh cli
          GH_TOKEN: ${{ github.token }}
        run: |
          ORIGINAL_PR=$(echo "${{ github.event.issue.title }}" | rev | cut -d" " -f1 | rev)
          echo "original_num=$ORIGINAL_PR" >> $GITHUB_OUTPUT
          ORIGINAL_PR_BRANCH=$(gh pr view $ORIGINAL_PR --json headRefName -q '.headRefName')
          echo "original_branch=$ORIGINAL_PR_BRANCH" >> $GITHUB_OUTPUT
          PR_BRANCH=$(gh pr view ${{ github.event.issue.number }} --json headRefName -q '.headRefName')
          echo "branch=$PR_BRANCH" >> $GITHUB_OUTPUT
          echo "original_num=$ORIGINAL_PR"
          echo "original_branch=$ORIGINAL_PR_BRANCH"

      # Switch to the readme-bot branch
      - uses: actions/checkout@v4
        with:
          ref: ${{ steps.prs.outputs.branch }}

      - name: Install uv
        uses: astral-sh/setup-uv@v3
  
      - name: Set up Python
        run: uv python install
  
      - run: make install

      # KT: This is likely broken now that we have more configuration of the model provider and model
      - name: Update README
        id: update-readme
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          uv run python src/main.py --repository ${{ github.repository }} --pr ${{ steps.prs.outputs.original_num }} --readme README.md --feedback "${{ github.event.comment.body }}" --output-format github >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

      - name: Create comment
        uses: peter-evans/create-or-update-comment@v4
        if: steps.update-readme.outputs.should_update == 'True'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            Feedback: 
            ${{ github.event.comment.body }}
            ${{ github.event.comment.html_url }}

            Updated README rationale:
            ${{ steps.update-readme.outputs.reason }}
      
      # Show git status for debugging
      - name: Show git status
        run: git status

      # Commit the readme back to our branch
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Incorporate feedback from comment ${{ github.event.comment.html_url }}"
